<h1>String Interpolation</h1>
<p>
    {{stringInterpolation}} | {{numberInterpolation}}
</p>
<hr>
<h1>Property Binding</h1>
<input type="text" [value]="stringInterpolation">
<p [ngClass]="{redBorder: onTest()}">Is this styled?</p>
<p [ngStyle]="{color: 'green'}">Is this styled?</p>
<h3>Custom Property Binding</h3>
<property-binding result="10"></property-binding>
<hr>
<h1>Event Bindig</h1>
<event-binding (clicked)="onClicked($event)"></event-binding>
<hr>
<h1>Two way Binding</h1>
<tow-way-binding></tow-way-binding>
<hr>
<hr>
<button md-button>FLAT</button>
<button md-raised-button>RAISED</button>
<button md-icon-button>
    <md-icon class="md-24">favorite</md-icon>
</button>
<button md-fab>
    <md-icon class="md-24">add</md-icon>
</button>
<button md-mini-fab>
    <md-icon class="md-24">add</md-icon>
</button>
<hr>
<hr>
<button md-raised-button color="primary">PRIMARY</button>
<button md-raised-button color="accent">ACCENT</button>
<button md-raised-button color="warn">WARN</button>
<hr>
<hr>
<md-grid-list cols="4" rowHeight="100px">
    <md-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
                  [style.background]="tile.color">
        {{tile.text}}
    </md-grid-tile>
</md-grid-list>
<hr>
<hr>
<md-list dense>
    <md-list-item> Pepper</md-list-item>
    <md-list-item> Salt</md-list-item>
    <md-list-item> Paprika</md-list-item>
</md-list>